.bases-form {
  display: flex;
  margin-right: 1rem;

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      display: block;
      width: 500px;
    }
  }

  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    color: red;
  }

  button {
    display: none;
  }
}
