.bases-form {
  display: flex;
  margin-right: 1rem;

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .highlighted-input__input {
      display: block;
      width: 500px;
    }

    div.highlighted-input__input {
      border: 1px transparent solid;
      margin-left: 2px;
    }
  }

  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    color: red;
  }

  button {
    display: none;
  }

  .highlighted {
    background-color: yellow;
  }
}
